<div class="appointment-hero">
  <h4>{{ appointment().date | date: 'EEEE dd MMM yyyy' | capitalize }}</h4>
  <div class="appointment-observations">
    <pre>
      {{ appointment().observations ? appointment().observations : "No hay observaciones en esta cita" }}
    </pre>
  </div>
</div>

<div class="appointment-data">
  <div>
    <h5><i class="fa-solid fa-hashtag"></i> Cita:</h5>
    <p>{{ appointment().number }}</p>
  </div>

  <div>
    <h5><i class="fa-regular fa-user"></i> Motivo:</h5>
    <p>{{ appointment().reason }}</p>
  </div>

  <div>
    <h5><i class="fa-regular fa-clock"></i> Hora:</h5>
    <p>{{ appointment().startTime | date: 'HH:mm' }} - {{ appointment().endTime | date: 'HH:mm' }}</p>
  </div>

  <div>
    <h5><i class="fa-regular fa-calendar"></i> Duración:</h5>
    <p>{{ appointment().duration }} min</p>
  </div>
</div>
