<header>
  <a (click)="clickTitle()" class="title">
    <img src="favicon.svg" alt="B">
    <h2>ODYCHECK</h2>
  </a>

  @if (!isUserLogged) {
    <div class="auth">
      <button class="btn flat-button" (click)="toggleShowRegister()">Registrarse</button>
      <button class="btn stroked-button" (click)="toggleShowLogin()">Iniciar Sesión</button>
      @if (showLogin) {
        <app-login (closeModalEvent)="closeLogin()" />
      }
    </div>
  } @else {
    <div class="auth">
      <button class="btn" (click)="toggleShowSettings()">
        <i class="fa-solid fa-bars header-settings"></i>
      </button>
      @if (showSettings) {
        <app-settings id="settings" (logoutEvent)="logout()" />
      }
    </div>
  }
</header>
