@import 'colors';

header {
  position: fixed;
  z-index: 2;

  box-sizing: border-box;
  height: 80px;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $primary-color;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-decoration: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 35px;
  }

  h2 {
    margin: 0;
    font-size: 35px;
    color: $primary-color;
    text-align: center;
  }
}

.auth {
  position: relative;

  display: flex;
  justify-content: center;
}

.auth button:first-child {
  margin-right: 10px;
}

.header-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  span {
    border-radius: 10px;
    width: 30px;
    height: 3px;
    background-color: $primary-color;
    transition: 300ms;
  }

  &:hover {
    span {
      background-color: $primary-color-700;
    }

    span:nth-child(2) {
      transform: translateX(10px);
    }
  }
}

.header-settings-x {
  transform: translateX(6px);

  span:nth-child(1) {
    transform: rotateZ(35deg) translateY(11px);
  }

  span:nth-child(3) {
    transform: rotateZ(-35deg) translateY(-11px);
  }

  span:nth-child(2) {
    transform: translateX(25dvw) !important;
    visibility: hidden;
  }
}

@media (width < 700px) {
  header {
    height: 60px;
    justify-content: space-between;
    padding-inline: 20px;
  }

  .title {
    h2 {
      display: none;
    }

    img {
      height: 40px;
    }
  }

  .auth {
    .flat-button {
      display: none;
    }

    .stroked-button {
      font-size: 14px;
      height: 40px;
      padding-inline: 10px;
    }
  }
}
