<header>
  <a (click)="clickTitle()" class="title">
    <img src="favicon.svg" alt="B">
    <h2>ODYCHECK</h2>
  </a>

  @if (!isUserLogged) {
    <div class="auth">
      <button class="btn flat-button" (click)="toggleShowRegister()">Registrarse</button>
      <button class="btn stroked-button" (click)="toggleShowLogin()">Iniciar Sesión</button>
      @if (showLogin) {
        <app-login (closeModalEvent)="closeLogin()" />
      }
    </div>
  } @else {
    <div class="auth">
      <button class="btn header-settings" [ngClass]="{'header-settings-x': showSettings}" (click)="toggleShowSettings()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      @if (showSettings) {
        <app-settings id="settings" (logoutEvent)="logout()" (closeEvent)="closeSettings()" />
      }
    </div>
  }
</header>
