<div
class="tab"
[ngClass]="{'tab-active': tabOpened === 'summary'}"
(click)="changeTab('summary')"
>
  <div>
    <i class="fa-solid fa-list"></i>
    Resumen
  </div>
</div>
<div
class="tab"
[ngClass]="{'tab-active': tabOpened === 'appointments'}"
(click)="changeTab('appointments')"
>

  <div>
    <i class="fa-solid fa-calendar-days"></i>
    Citas
  </div>
</div>
<div
class="tab"
[ngClass]="{'tab-active': tabOpened === 'measurements'}"
(click)="changeTab('measurements')"
>

  <div>
    <i class="fa-solid fa-weight-scale"></i>
    Mediciones
  </div>
</div>
<div
class="tab"
[ngClass]="{'tab-active': tabOpened === 'charts'}"
(click)="changeTab('charts')"
>

  <div>
    <i class="fa-solid fa-chart-column"></i>
    Graficas
  </div>
</div>
