<section id="login-modal" class="pop-in-login">
  <div class="modal-corner"></div>
  <div class="input-border-group">
    <input placeholder=" " type="email" />
    <label for="email" class="placeholder">Email</label>
  </div>
  <div class="input-border-group login-password">
    <input placeholder=" " type="password" />
    <label for="password" class="placeholder">Contraseña</label>
  </div>
  <button class="flat-button">Iniciar Sesión</button>
</section>
<div class="modal-overlay" (click)="closeModal()"></div>
