$background-color: #d4f2e9;
$modal-background-color: #dcf4ed;

$white: #f0fdf9;
$translucent-white: #f0fdf9cf;
$black: #144d46;
$strong-black: #0c2724;

$disabled-color: #adb5bdcb;
$disabled-font-color: #adb5bd;

$primary-color-300: #60e8cd;
$primary-color-400: #2fd2b6;
$primary-color-500: #16b69d;
$primary-color: #109d8a;
$primary-color-700: #107568;
$primary-color-low-opc: #109d8a35;

$secondary-color-200: #aae5d4;
$secondary-color-300: #78d0ba;
$secondary-color-400: #4cb59f;
$secondary-color-500: #339985;
$secondary-color-600: #267b6c;
$secondary-color-700: #226358;
$secondary-color-800: #1f5049;
$secondary-color-900: #1e433d;
$secondary-color-950: #0c2724;

$tertiary-color-200-low-opc: #c8f0ea80;
$tertiary-color-300-low-opc: #b0e0d880;
$tertiary-color-200: #c8f0ea;
$tertiary-color-300: #b0e0d8;

$bg-error-color: #ef233cb0;
$error-color: #c80d24;
$error-color-700: #ac1224;
// $error-color: #ef233c;

$info-color: #0077b6;
$bg-info-color: #0077b6b0;
