$background-color: #d4f2e9;
$modal-background-color: #dcf4ed;
$white: #f0fdf9;
$translucent-white: #f0fdf9cf;
$black: #144d46;
$strong-black: #0c2724;
$primary-color-300: #60e8cd;
$primary-color-400: #2fd2b6;
$primary-color-500: #16b69d;
$primary-color-hover: #109d8a35;
$primary-color: #109d8a;
$primary-color-700: #107568;

$error-color : #ef233c
