@import 'colors';

:host {
  flex: 1;
  box-sizing: border-box;
  height: 100%;

  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-areas:
    "card appointments"
    "measurements measurements";
    grid-auto-rows: min-content;
  gap: 80px;

  article {
    width: 100%;
    min-height: 350px;

    border: 4px solid $primary-color;
    border-radius: 12px;

    box-sizing: border-box;

    background-color: $white;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#customer-card {
  grid-area: card;

  position: relative;
  padding: 50px 70px;

  height: fit-content;
  min-height: 350px;

  .edit {
    position: absolute;
    top: 10px;
    right: 10px;

    height: 36px;
    width: 36px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 300ms;

    i {
      color: $primary-color;
      font-size: 22px;
    }
  }

  .edit:hover {
    cursor: pointer;
    background-color: #badad2;

  }
}

#customer-appointments-summary {
  grid-area: appointments;
  overflow: hidden;
}

#customer-measurements-summary {
  grid-area: measurements;
  overflow: hidden;
}
