@import 'colors';

:host {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.sumary-row {
  height: fit-content;
  min-height: 380px;
  display: flex;
  gap: 80px;
}

#customer-card,
#customer-appointments-summary,
#customer-measurements-summary {
  border: 4px solid $primary-color;
  border-radius: 12px;

  box-sizing: border-box;

  background-color: $white;

  display: flex;
  justify-content: center;
  align-items: center;
}

#customer-card {
  position: relative;
  padding: 50px 70px;

  height: fit-content;
  min-width: 450px;
  min-height: 350px;

  .edit {
    position: absolute;
    top: 10px;
    right: 10px;

    height: 36px;
    width: 36px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 300ms;
    i {
      color: $primary-color;
      font-size: 22px;
    }
  }

  .edit:hover {
    cursor: pointer;
    background-color: #badad2;

  }
}

#customer-appointments-summary,
#customer-measurements-summary {
  flex: 1;
  overflow: hidden;
}
