<article id="register-modal" class="pop-in-register">
  <h3>Registro</h3>
  <p>Crear una nueva cuenta</p>
  <form [formGroup]="registerForm" (submit)="register()">
    <div class="form-row">
      <!-- First Name -->
      <div class="input-border-group">
        <input formControlName="firstName" placeholder=" " type="text" />
        <label class="placeholder">Nombre*</label>
      </div>
      <!-- Last Name -->
      <div class="input-border-group">
        <input formControlName="lastName" placeholder=" " type="text" />
        <label class="placeholder">Apellidos*</label>
      </div>
    </div>
    <!-- Telefono -->
    <div class="input-border-group">
      <input formControlName="phone" placeholder=" " type="text" />
      <label class="placeholder">Teléfono*</label>
    </div>
    <!-- Email -->
    <div class="input-border-group">
      <input formControlName="username" placeholder=" " type="email" />
      <label class="placeholder">Email*</label>
    </div>
    <!-- Password -->
    <div class="input-border-group">
      <input formControlName="password" placeholder=" " type="password" />
      <label class="placeholder">Contraseña*</label>
    </div>
    <!-- Password2 -->
    <div class="input-border-group">
      <input formControlName="password2" placeholder=" " type="password" />
      <label class="placeholder">Repite Contraseña*</label>
    </div>
    <button class="flat-button">Registrarse</button>
  </form>
</article>
