@import 'colors';

:host {
  box-sizing: border-box;
  position: absolute;
  left: 0;

  width: 100%;

  border-left: 8px solid $secondary-color-300;
  background-color: $secondary-color-200;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 200ms;

  &:hover {
    scale: 1.03;
    z-index: 4;

    .appointment-options {
      transition: 600ms;
      opacity: 1;
    }
  }

  .customer {
    margin: 0;
    font-size: 22px;
  }

  .reason {
    margin: 0;
    font-size: 14px;
  }

  .short-reason {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin: 0;
    font-size: 14px;
  }

  .phone {
    position: relative;
    margin: 0;
    font-size: 16px;

    i {
      position: absolute;
      top: 4px;
      right: -17px;
      font-size: 14px;
    }
  }

  .duration {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }

  .short-duration {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }

  .starts {
    position: absolute;
    top: 10px;
    left: 8px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }

  .ends {
    position: absolute;
    bottom: 10px;
    left: 8px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }

  .timeline {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    border: 1px dashed $secondary-color-300;
  }

  .appointment-options {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #aae5d444;
    backdrop-filter: blur(10px);

    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    transition: 300ms;

    button {
      cursor: pointer;
      padding: 0;
      border: 0;
      background-color: transparent;
      font-size: 24px;

      i {
        transition: 300ms;
        color: $primary-color-700;

        &:hover {
          color: $black;
          scale: 1.2;
        }
      }
    }
  }
}
