<h4 class="customer">{{ appointment().customerName }}</h4>
<h5 class="phone">{{ appointment().customerPhone }} <i class="fa-solid fa-phone"></i></h5>
<h5 [ngClass]="appointment().duration! < 30 ? 'short-reason' : 'reason'">{{ appointment().reason }}</h5>

<p [ngClass]="appointment().duration! < 30 ? 'short-duration' : 'duration'">{{ appointment().duration }} min</p>
@if (appointment().duration! >= 30) {
  <p class="starts">{{ appointment().startTime | date: 'HH:mm' }} </p>
  <p class="ends">{{ appointment().endTime | date: 'HH:mm' }}</p>
  <div class="timeline" [style.height.px]="this.timelineHeight"></div>
}
