<form [formGroup]="loginForm" (submit)="login()" id="login-modal" class="pop-in-login">
  <div class="modal-corner"></div>

  <div class="input-border-group">
    <input formControlName="username" placeholder=" " type="email" />
    <label class="placeholder">Email</label>
    @if (username.invalid && (username.dirty || username.touched)) {
      @if (username.errors?.['required']) {
        <div class="invalid-field">Introduce el email.</div>
      }
      @if (username.errors?.['email']) {
        <div class="invalid-field">Email no válido.</div>
      }
    }
  </div>

  <div class="input-border-group login-password">
    <input formControlName="password" placeholder=" " type="password" />
    <label class="placeholder">Contraseña</label>
    @if (password.invalid && (password.dirty || password.touched)) {
      @if (password.errors?.['required']) {
        <div class="invalid-field">Introduce la contraseña.</div>
      }
    }
  </div>

  @if (this.loginError.length > 0) {
    <p class="error">{{ this.loginError }}</p>
  }

  <button class="flat-button">Iniciar Sesión</button>
</form>
<div class="modal-overlay" (click)="closeModal()"></div>
