<app-date-picker [(selected)]="selectedDate" (selectedChange)="selectDate()" />

<div class="timetable">
  <h4 class="day"><i class="fa-solid fa-plus" (click)="openAppointmentForm(null)"></i>{{ selectedDate | date: 'EEEE dd MMM yyyy' | capitalize }}</h4>
  <ul>
    <!-- HORAS -->
    @for (hour of hours; track $index) {
    <li><span class="hour">{{hour}}</span></li>
    }
    <!-- CITAS -->
    @for (appointment of appointments; track appointment.id) {
    <app-agenda-appointment
      [appointment]="appointment"
      [top]="calculatePosition(appointment.startTime)"
      [MINUTE_SIZE]="MINUTE_SIZE"
      (click)="openAppointmentForm(appointment)" />
    }
    <!-- SEPARATORS -->
    @for (matchingDate of matchingDates; track $index) {
    <app-appointment-separator [top]="calculatePosition(matchingDate)" />
    }
  </ul>
</div>
