@import 'colors';

section {
  box-sizing: border-box;
  width: 100%;
  padding: 50px;

  margin-top: 24px;
  border: 4px solid $primary-color;
  border-radius: 12px;

  background-color: $white;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: min-content;
  place-items: center;
  gap: 24px;

  * {
    grid-column: span 2;
  }
}

h2 {
  text-align: center;
  color: $primary-color;
  font-size: 30px;
  margin: 0;

  grid-column: span 6 !important;
}

.formula-missed {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  * {
    margin: 0;
  }

  h4 {
    font-size: 20px
  }
}


@media (width < 1650px) {
  section {
    display: block;
    h2 {
      margin-bottom: 20px;
    }
  }
}
