<section id="gauge-charts">
  <h2>Indices de Salud</h2>

  @if (bodyComposition) {

    <app-imc [imc]="bodyComposition.imc!" />

    @if (bodyComposition.icc) {
    <app-icc [icc]="bodyComposition.icc!" [gender]="customer().gender.toString()" />
    } @else {
    <div class="formula-missed">
      <h4>Indice Cintura-Cadera</h4>
      <p>Faltan datos.</p>
    </div>
    }

    @if (bodyComposition.ica) {
    <app-ica [ica]="bodyComposition.ica!" />
    } @else {
    <div class="formula-missed">
      <h4>Indice Cintura-Altura</h4>
      <p>Faltan datos.</p>
    </div>
    }

  } @else {
  <mat-spinner style="grid-column: 1 / -1; margin-block: 50px" />
  }

</section>

<section id="bc-charts">
  <h2>Composicion Coporal</h2>
  @if (bodyComposition) {
    @if (mgDurninWomersley) {
    <app-composition-pie [formula]="'Durnin-Womersley'" [mt]="bodyComposition.mt" [mg]="mgDurninWomersley"
      [mo]="bodyComposition.mo" [mm]="bodyComposition.mm" />
    } @else {
    <div class="formula-missed">
      <h4>Durnin-Womersley</h4>
      <p style="margin-bottom: 10px;">Faltan datos.</p>
      <p><strong>Pliegues necesarios:</strong> Tríceps, Bíceps, Subescapular, Cresta Iliaca.</p>
    </div>
    }

    @if (mgJacksonPollock7) {
    <app-composition-pie [formula]="'Jackson-Pollock 7'" [mt]="bodyComposition.mt"
      [mg]="mgJacksonPollock7" [mo]="bodyComposition.mo" [mm]="bodyComposition.mm" />
    } @else {
    <div class="formula-missed">
      <h4>Jackson-Pollock 7</h4>
      <p style="margin-bottom: 10px;">Faltan datos.</p>
      <p><strong>Pliegues necesarios:</strong> Pectoral, Abdominal, Muslo, Tríceps, Subescapular, Suprailíaco, Axilar
        Media.</p>
    </div>
    }

    @if (mgJacksonPollock3) {
    <app-composition-pie [formula]="'Jackson-Pollock 3'" [mt]="bodyComposition.mt"
      [mg]="mgJacksonPollock3" [mo]="bodyComposition.mo" [mm]="bodyComposition.mm" />
    } @else {
    <div class="formula-missed">
      <h4>Jackson-Pollock 3</h4>
      <p style="margin-bottom: 10px;">Faltan datos.</p>
      <strong>Pliegues necesarios (3 sitios):</strong>
      <p><strong>Hombres:</strong> Pectoral, Abdominal, Muslo.</p>
      <p><strong>Mujeres:</strong> Tríceps, Suprailíaco, Muslo.</p>
    </div>
    }

    @if (mgWeltman) {
    <app-composition-pie style="grid-column: 2 / 4;" [formula]="'Weltman'" [mt]="bodyComposition.mt"
      [mg]="mgWeltman" [mo]="bodyComposition.mo" [mm]="bodyComposition.mm" />
    } @else {
    <div class="formula-missed" style="grid-column: 2 / 4;">
      <h4>Weltman</h4>
      <p style="margin-bottom: 10px;">Faltan datos.</p>
      <p><strong>Datos necesarios:</strong> Circunferencia de cintura (cm), peso (kg).</p>
    </div>
    }

    @if (mgNavyTape) {
    <app-composition-pie style="grid-column: 4 / 6;" [formula]="'Navy Tape'" [mt]="bodyComposition.mt"
      [mg]="mgNavyTape" [mo]="bodyComposition.mo" [mm]="bodyComposition.mm" />
    } @else {
    <div class="formula-missed" style="grid-column: 4 / 6;">
      <h4>Navy Tape</h4>
      <p style="margin-bottom: 10px;">Faltan datos.</p>
      <strong>Medidas necesarias:</strong>
      <p><strong>Hombres:</strong> Circunferencia de cuello y cintura.</p>
      <p><strong>Mujeres:</strong> Circunferencia de cuello, cintura y cadera.</p>
    </div>
    }
  } @else {
  <mat-spinner style="grid-column: 1 / -1; margin-block: 50px" />
  }
</section>

<app-formulas-info />
