@import 'colors';

:host {
  box-sizing: border-box;
  width: 100%;
  padding: 50px;

  margin-top: 24px;
  border: 4px solid $primary-color;
  border-radius: 12px;

  background-color: $white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

h2 {
  text-align: center;
  color: $primary-color;
  font-size: 24px;
  margin: 0;
}
