@import 'colors';

:host {
  position: fixed;
  top: 50%;
  left: -150%;
  transform: translate(-50%, -50%);
  z-index: 5;

  border: 3px solid $primary-color;
  background-color: #aae5d444;
  backdrop-filter: blur(10px);

  box-sizing: border-box;
  width: min(90%, 1000px);
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;

  scrollbar-color: $primary-color transparent;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-registered {
  margin: 20px;
  color: $primary-color;
  font-size: 20px;
}
.no-registered:hover {
  cursor: pointer;
  text-decoration: underline;
  color: $primary-color-700;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .customer-li {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transition: 150ms;

    div {
      flex: 1;
      font-size: 20px;
    }
    i {
      font-size: 18px;
    }
    .name {
      text-align: right;
    }
  }

  .customer-li:nth-child(odd) {
    background-color: #f0fdf944;
  }

  .customer-li:hover {
    cursor: pointer;
    scale: 1.1;
  }
}
