<div class="controls">
  <i class="fa-solid fa-plus"></i>
  <app-filter-input (filterEvent)="filterValue($event)" />
</div>

<table id="customer-list">
  <thead>

    <th (click)="changeSort(sortFields[0])">
      Nombre
      @if (sortField === sortFields[0]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down"></i>
        }
      }
    </th>

    <th (click)="changeSort(sortFields[1])">
      Teléfono
      @if (sortField === sortFields[1]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down"></i>
        }
      }
    </th>

    <th (click)="changeSort(sortFields[2])">
      Email
      @if (sortField === sortFields[2]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down"></i>
        }
      }
    </th>

    <th (click)="changeSort(sortFields[3])">
      Edad
      @if (sortField === sortFields[3]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down"></i>
        }
      }
    </th>
  </thead>
  <tbody>
    @for (customer of customers | filterCustomers : filterCondition | sortCustomers : sortField : sortOrder ; track customer.id) {
      <tr>
        <td>{{ customer.firstName + " " + customer.lastName | capitalize }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.birthdate | calculateAge }} años</td>
      </tr>
    }
  </tbody>
</table>

@if (customers.length === 0) {
  <div class="no-results">Aún no tienes agregado ningún cliente...</div>
} @else if ((customers | filterCustomers : filterCondition).length === 0) {
  <div class="no-results">No hay coincidencias...</div>
}
