<div class="controls">
  <i class="fa-solid fa-plus"></i>
  <app-filter-input (filterEvent)="filterValue($event)" />
</div>

<table id="customer-list">
  <thead>

    <th (click)="changeSort(sortFields[0])">
      Nombre
      @if (sortField === sortFields[0]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up-a-z"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down-z-a"></i>
        }
      }
    </th>

    <th (click)="changeSort(sortFields[1])">
      Teléfono
      @if (sortField === sortFields[1]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up-9-1"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down-1-9"></i>
        }
      }
    </th>

    <th (click)="changeSort(sortFields[2])">
      Email
      @if (sortField === sortFields[2]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up-a-z"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down-z-a"></i>
        }
      }
    </th>

    <th (click)="changeSort(sortFields[3])">
      Edad
      @if (sortField === sortFields[3]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up-9-1"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down-1-9"></i>
        }
      }
    </th>
  </thead>
  <tbody>
    @for (customer of customers | filterCustomers : filterCondition | sortCustomers : sortField : sortOrder | paginateCustomers : pageSize : page ; track customer.id) {
      <tr>
        <td>{{ customer.firstName + " " + customer.lastName | capitalize }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.birthdate | calculateAge }} años</td>
      </tr>
    }
  </tbody>
</table>

<div class="paginator">
  <span
    class="material-symbols-outlined"
    [ngClass]="page === 0 ? 'disabled-pager' : 'enabled-pager'"
    (click)="changePage(0)">
    first_page
  </span>
  <span
    class="material-symbols-outlined"
    [ngClass]="page === 0 ? 'disabled-pager' : 'enabled-pager'"
    (click)="changePage(page - 1)">
    chevron_left
  </span>

  <div class="page">
    {{ page + 1 }}
  </div>

  <span
    class="material-symbols-outlined"
    [ngClass]="page * pageSize + pageSize >= (customers | filterCustomers : filterCondition).length ? 'disabled-pager' : 'enabled-pager'"
    (click)="changePage(page + 1)">
    chevron_right
  </span>
  <span
    class="material-symbols-outlined"
    [ngClass]="page * pageSize + pageSize >= (customers | filterCustomers : filterCondition).length ? 'disabled-pager' : 'enabled-pager'"
    (click)="changePage(999)">
    last_page
  </span>
</div>

@if (customers.length === 0) {
  <div class="no-results">Aún no tienes agregado ningún cliente...</div>
} @else if ((customers | filterCustomers : filterCondition).length === 0) {
  <div class="no-results">No hay coincidencias...</div>
}
