<div class="controls">
  <i class="fa-solid fa-plus"></i>
  <app-filter-input (filterEvent)="filterValue($event)" />
</div>

<table id="customer-list">
  <thead>
    <th>Nombre</th>
    <th>Teléfono</th>
    <th>Email</th>
    <th>Edad</th>
  </thead>
  <tbody>
    @for (customer of customers | filterCustomers : filterCondition; track customer.id) {
      <tr>
        <td>{{ customer.firstName + " " + customer.lastName | capitalize }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.birthdate | calculateAge }} años</td>
      </tr>
    }
  </tbody>
</table>

@if (customers.length === 0) {
  <div class="no-results">Aún no tienes agregado ningún cliente...</div>
} @else if ((customers | filterCustomers : filterCondition).length === 0) {
  <div class="no-results">No hay coincidencias...</div>
}
