:host {
  width: 100%;
  position: relative;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 150px;
  }

  .shape-fill {
    fill: #109D8A;
  }
}

.rotate-waves {
  transform: rotate(180deg);
}

.wave-1 {
  animation: wave-1 8s linear infinite;
}

.wave-2 {
  animation: wave-2 5s linear infinite;
}

.wave-3 {
  animation: wave-3 4s linear infinite;
}

.wave-4 {
  animation: wave-4 2.5s linear infinite;
}

@keyframes wave-1 {
  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes wave-2 {
  30% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes wave-3 {
  30% {
    transform: translateY(14px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes wave-4 {
  30% {
    transform: translateY(-8px);
    transform: translateX(-10%);
  }

  80% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
    transform: translateX(0);
  }
}

@media (width < 800px) {
  .waves svg {
    width: 260%;
  }
}
