@if (showRegister) {
  <app-register [usernameInput]="username" />
}
<article id="welcome">
  <div class="title">
    <img src="favicon.svg" alt="B">
    <h2>ODYCHECK</h2>
  </div>

  <h1>Aplicación web para dietistas y nutricionistas</h1>
  <h2>Monitorea y optimiza el progreso de tus clientes</h2>
  <pre>Gestiona las medidas antropométricas de tus clientes con facilidad
    y visualiza su evolución a través de gráficos avanzados.</pre>

  <form [formGroup]="welcomeForm" (submit)="showRegisterFromWelcome()" class="username">
    <div class="input-border-group">
      <input formControlName="username" placeholder=" " type="email" />
      <label class="placeholder">Email</label>
    </div>
    <button class="btn flat-button hero-button">Registrate Gratis</button>
  </form>

</article>
