<div class="controls">
  <i class="fa-solid fa-plus" (click)="openCustomerForm()"></i>
  <app-filter-input (filterEvent)="filterValue($event)" />
</div>

<table id="customer-list">
  <thead>

    <th (click)="changeSort(sortFields[0])">
      Nombre
      @if (sortField === sortFields[0]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up-a-z"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down-z-a"></i>
        }
      }
    </th>

    <th (click)="changeSort(sortFields[1])">
      Teléfono
      @if (sortField === sortFields[1]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up-9-1"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down-1-9"></i>
        }
      }
    </th>

    <th (click)="changeSort(sortFields[2])">
      Email
      @if (sortField === sortFields[2]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up-a-z"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down-z-a"></i>
        }
      }
    </th>

    <th (click)="changeSort(sortFields[3])">
      Edad
      @if (sortField === sortFields[3]) {
        @if (sortOrder === 'asc') {
          <i class="fa-solid fa-arrow-up-9-1"></i>
        }
        @if (sortOrder === 'desc') {
          <i class="fa-solid fa-arrow-down-1-9"></i>
        }
      }
    </th>
  </thead>
  <tbody>
    @for (customer of filteredCustomers | paginateCustomers : pageSize : page : sortField : sortOrder ; track customer.id) {
      <tr [routerLink]="['customer', customer.id]">
        <td>{{ customer.firstName + " " + customer.lastName | capitalize }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.birthdate | calculateAge }} años</td>
      </tr>
    }
  </tbody>
</table>

<div class="paginator">
  @if (filteredCustomers.length > pageSize) {
    <app-paginator
      [listLenght]="filteredCustomers.length"
      [pageSize]="pageSize"
      (pageEvent)="changePage($event)"
    />
  }
</div>

@if (loadingCustomers) {
  <div class="no-results">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  @if (customers.length === 0) {
    <div class="no-results">Aún no tienes agregado ningún cliente... <br>Si no puedes ver tus clientes por que ha surgido un error recarga la página!</div>
  } @else if (filteredCustomers.length === 0) {
    <div class="no-results">No hay coincidencias...</div>
  }
}
