@import 'colors';

:host {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  width: 100dvh;
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.sumary-row {
  height: fit-content;
  display: flex;
  gap: 80px;
}

#customer-card,
#customer-appointments-summary {
  border: 4px solid $primary-color;
  border-radius: 12px;

  box-sizing: border-box;

  background-color: $white;

  display: flex;
  justify-content: center;
  align-items: center;
}

#customer-card {
  padding: 50px 70px;

  height: fit-content;
  min-width: 450px;
  min-height: 350px;
}

#customer-appointments-summary {
  flex: 1;
  overflow: hidden;
}
