<div class="measurement-hero">
  <h4>{{ measurement().date | date: 'EEEE dd MMM yyyy' | capitalize }}</h4>
  <div class="measurement-info">
    <p>Sesión: <span>{{ measurement().session }}</span></p>
    <p>Peso: <span>{{ measurement().weight }}kg</span></p>
  </div>
  <div class="measurement-observations">
      <pre>{{ measurement().observations ? measurement().observations : 'No hay obersevaciones' }}</pre>
  </div>
</div>

@if (!measurement().circumference && !measurement().skinfold && !measurement().diameter) {
<div class="no-measurement-group">
  <h4>No se realizó ninguna toma</h4>
</div>
}

@if (measurement().circumference) {
<div class="measurement-group">
  <h4>Circunferencias</h4>
  <div class="data">
    <p><span>Cuello: </span>{{ measurement().circumference?.neck ?? "-"}}{{ measurement().circumference?.neck ? "cm" : "" }}</p>
    <p><span>Pecho: </span>{{ measurement().circumference?.chest ?? "-"}}{{ measurement().circumference?.chest ? "cm" : "" }}</p>
    <p><span>Brazo Relajado: </span>{{ measurement().circumference?.armRelaxed ?? "-"}}{{ measurement().circumference?.armRelaxed ? "cm" : "" }}</p>
    <p><span>Brazo Flexionado: </span>{{ measurement().circumference?.armFlexed ?? "-"}}{{ measurement().circumference?.armFlexed ? "cm" : "" }}</p>
    <p><span>Muñeca: </span>{{ measurement().circumference?.waist ?? "-"}}{{ measurement().circumference?.waist ? "cm" : "" }}</p>
    <p><span>Cintura: </span>{{ measurement().circumference?.hip ?? "-"}}{{ measurement().circumference?.hip ? "cm" : "" }}</p>
    <p><span>Muslo: </span>{{ measurement().circumference?.thigh ?? "-"}}{{ measurement().circumference?.thigh ? "cm" : "" }}</p>
    <p><span>Gemelo: </span>{{ measurement().circumference?.calf ?? "-"}}{{ measurement().circumference?.calf ? "cm" : "" }}</p>
  </div>
</div>
}

@if (measurement().skinfold) {
<div class="measurement-group">
  <h4>Pliegues</h4>
  <div class="data">
    <p><span>Triceps: </span>{{ measurement().skinfold?.triceps ?? "-"}}{{ measurement().skinfold?.triceps ? "mm" : "" }}</p>
    <p><span>Biceps: </span>{{ measurement().skinfold?.biceps ?? "-"}}{{ measurement().skinfold?.biceps ? "mm" : "" }}</p>
    <p><span>Subescapular: </span>{{ measurement().skinfold?.subscapular ?? "-"}}{{ measurement().skinfold?.subscapular ? "mm" : "" }}</p>
    <p><span>Suprailiaca: </span>{{ measurement().skinfold?.suprailiac ?? "-"}}{{ measurement().skinfold?.suprailiac ? "mm" : "" }}</p>
    <p><span>Cresta Iliaca: </span>{{ measurement().skinfold?.iliacCrest ?? "-"}}{{ measurement().skinfold?.iliacCrest ? "mm" : "" }}</p>
    <p><span>Abdominal: </span>{{ measurement().skinfold?.abdominal ?? "-"}}{{ measurement().skinfold?.abdominal ? "mm" : "" }}</p>
    <p><span>Muslo: </span>{{ measurement().skinfold?.thigh ?? "-"}}{{ measurement().skinfold?.thigh ? "mm" : "" }}</p>
    <p><span>Gemelo: </span>{{ measurement().skinfold?.calf ?? "-"}}{{ measurement().skinfold?.calf ? "mm" : "" }}</p>
  </div>
</div>
}

@if (measurement().diameter) {
<div class="measurement-group">
  <h4>Diametros</h4>
  <div class="data">
    <p><span>Biacromial: </span>{{ measurement().diameter?.biacromial ?? "-"}}{{ measurement().diameter?.biacromial ? "mm" : "" }}</p>
    <p><span>Biileocrestal: </span>{{ measurement().diameter?.biIliacCrest ?? "-"}}{{ measurement().diameter?.biIliacCrest ? "mm" : "" }}</p>
    <p><span>Bicondíleo Húmero: </span>{{ measurement().diameter?.humeralBicondylar ?? "-"}}{{ measurement().diameter?.humeralBicondylar ? "mm" : "" }}</p>
    <p><span>Bicondíleo Fémur: </span>{{ measurement().diameter?.femoralBicondylar ?? "-"}}{{ measurement().diameter?.femoralBicondylar ? "mm" : "" }}</p>
    <p><span>Cresta Biestiloideo: </span>{{ measurement().diameter?.bistyloid ?? "-"}}{{ measurement().diameter?.bistyloid ? "mm" : "" }}</p>
    <p><span>Bimaleolar: </span>{{ measurement().diameter?.bimalleolar ?? "-"}}{{ measurement().diameter?.bimalleolar ? "mm" : "" }}</p>
    <p><span>Torácico Transverso: </span>{{ measurement().diameter?.transverseThoracic ?? "-"}}{{ measurement().diameter?.transverseThoracic ? "mm" : "" }}</p>
    <p><span>Torácico Anteroposterio: </span>{{ measurement().diameter?.anteroposteriorThoracic ?? "-"}}{{ measurement().diameter?.anteroposteriorThoracic ? "mm" : "" }}</p>
  </div>
</div>
}
