@import 'colors';

:host {
  box-sizing: border-box;
  width: min(90%, 1080px);

  form {
    grid-template-columns: 1fr 240px;
    grid-template-areas:
      "h3 h3"
      "customer checkbox"
      "datepicker timepicker"
      "observations observations"
      "button button";
  }

  h3 {
    grid-area: h3;
  }

  .customer-row {
    grid-area: customer;
  }

  .checkbox-group {
    grid-area: checkbox;
    display: flex;
    align-items: center;
    gap: 4px;

    .checkbox-label {
      flex: 1;
    }
  }

  #datepicker {
    grid-area: datepicker;
    height: fit-content;
  }

  .time-col {
    grid-area: timepicker;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #observations-div {
    grid-area: observations;
    display: flex;
  }

  button {
    grid-area: button;
  }
}

@media (height < 1150px) {
  :host {
    width: fit-content;

    form {
      grid-template-columns: 600px 400px;
      grid-template-areas:
        "h3 h3"
        "customer checkbox"
        "datepicker timepicker"
        "datepicker observations"
        "button button";
    }

    h3 {
      margin: 0;
    }

    .time-col {
      justify-content: space-between;
      gap: 40px;
    }

    #observations-div {
      align-items: flex-end;
      margin-bottom: -5px;
    }
  }
}
