<form [formGroup]="appointmentForm" (submit)="submit()">
  <i (click)="close()" class="close-icon fa-solid fa-xmark"></i>
  <h3>Nueva Cita</h3>

  <!-- Customer Name -->
  <div class="form-row customer-row">
  @if (registeredCustomer) {
    <div class="input-border-group">
      <input formControlName="customer" placeholder=" " type="text" (keyup)="toggleShowCustomerList()" />
      <label class="placeholder">Cliente*</label>
      @if (
      controls.customer.invalid
      && (controls.customer.dirty || controls.customer.touched)
      && controls.customer.errors?.['customerRequired']
      ) {
        <div class="invalid-field">Indica que cliente reservó la cita.</div>
      }
    </div>
  } @else {
    <!-- Si la cita no es con un cliente registrado pedimos que el nombre y telefono del cliente -->
    <div class="form-row">
      <div class="input-border-group">
        <input formControlName="customerName" placeholder=" " type="text" />
        <label class="placeholder">Nombre del Cliente*</label>
        @if (
        controls.customerName.invalid
        && (controls.customerName.dirty || controls.customerName.touched)
        && controls.customerName.errors?.['customerRequired']
        ) {
          <div class="invalid-field">Indica el nombre del cliente.</div>
        }
      </div>
      <div class="input-border-group">
        <input formControlName="customerPhone" placeholder=" " type="text" />
        <label class="placeholder">Teléfono de Cliente*</label>
        @if (
        controls.customerPhone.invalid
        && (controls.customerPhone.dirty || controls.customerPhone.touched)
        && controls.customerPhone.errors?.['customerRequired']
        ) {
          <div class="invalid-field">Indica el teléfono del cliente.</div>
        }
      </div>
    </div>
  }
  </div>

  <div class="checkbox-group">
    <span class="checkbox-label">Cliente {{ registeredCustomer ? "" : "No" }} Registrado</span>
    <app-checkbox [(checked)]="registeredCustomer" (checkedChange)="registeredCustomerCheckedChange()" />
  </div>

  <!-- Datepicker -->
  <app-date-picker id="datepicker" [selected]="date" (selectedChange)="date = $event" style="border-bottom: 2px solid #109d8a;" />

  <!-- Timepicker -->
  <div class="time-col">
    <div class="input-border-group">
      <input formControlName="reason" placeholder=" " type="text" />
      <label class="placeholder">Motivo de la Cita*</label>
      @if (
      controls.reason.invalid
      && (controls.reason.dirty || controls.reason.touched)
      && controls.reason.errors?.['required']
      ) {
        <div class="invalid-field">Indica cual es el motivo de la cita.</div>
      }
    </div>
    <div class="input-border-group">
      <input formControlName="startTime" placeholder=" " type="time" />
      <label class="placeholder">Hora de Inicio*</label>
      @if (
      controls.startTime.invalid
      && (controls.startTime.dirty || controls.startTime.touched)
      && controls.startTime.errors?.['required']
      ) {
        <div class="invalid-field">Indica la hora de inicio.</div>
      }
    </div>
    <div class="input-border-group">
      <input formControlName="endTime" placeholder=" " type="time" />
      <label class="placeholder">Hora de Fin*</label>
      @if (
      controls.endTime.invalid
      && (controls.endTime.dirty || controls.endTime.touched)
      && controls.endTime.errors?.['required']
      ) {
        <div class="invalid-field">Indica la hora de finalización.</div>
      }
    </div>
  </div>

  <div id="observations-div" class="form-row">
    <app-textarea
      (contentEmitter)="observations = $event"
      [content]="observations"
      [placeholderName]="'Observaciones'"
      class="textarea-glass"
    />
  </div>

  @if (appointment()) {
    <div class="btn-row action-btn-row">
      @if (!confirmDelete) {
        <div class="actions">
          <button type="submit" class="btn flat-button">Editar Cita</button>
          <button type="button" class="btn flat-button cancel-button" (click)="confirmDelete = true">Borrar Cita</button>
        </div>
      } @else {
        <div class="confirm-delete">
          <button type="button" class="confirm-btn cancel-delete-btn" (click)="confirmDelete = false">
            <i class="fa-solid fa-arrow-rotate-left"></i>
          </button>
          <button type="button" class="confirm-btn confirm-delete-btn" (click)="deleteAppointment()">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      }
      </div>
  } @else {
    <div class="btn-row">
      <button type="submit" class="btn flat-button register-btn">Registrar Cita</button>
    </div>
  }
</form>

@if (showCustomerList) {
  <app-modal-customer-list [filterConditionInput]="controls.customer.value" (outputEvent)="customerListEvent($event)" />
}
