@import 'colors';

:host {
  box-sizing: border-box;
  width: min(90%, 1080px);

  form {
    grid-template-columns: 1fr 240px;
    grid-template-areas:
      "h3 h3"
      "customer checkbox"
      "datepicker timepicker"
      "observations observations"
      "button button";
  }

  h3 {
    grid-area: h3;
  }

  .customer-row {
    grid-area: customer;
  }

  .checkbox-group {
    grid-area: checkbox;
    display: flex;
    align-items: center;
    gap: 4px;

    .checkbox-label {
      flex: 1;
    }
  }

  #datepicker {
    grid-area: datepicker;
    display: flex;
  }

  .time-col {
    grid-area: timepicker;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #observations-div {
    grid-area: observations;
    display: flex;
  }

  .btn-row {
    grid-area: button;

    .register-btn {
      width: 100%;
    }
  }

  .action-btn-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      width: 30%;
    }
  }

  .actions,
  .confirm-delete {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  .confirm-delete {
    gap: 25%;
  }

  .confirm-btn {
    cursor: pointer;
    background: none;
    border: 0;
    outline: 0;

    i {
      font-size: 28px;
    }
  }

  .confirm-delete-btn i {
    color: $error-color;
    transition: 300ms;

    &:hover {
      color: $error-color-700;
    }
  }

  .cancel-delete-btn i {
    color: $primary-color;
    transition: 300ms;

    &:hover {
      color: $primary-color-700;
    }
  }
}

@media (height < 1150px) {
  :host {
    width: fit-content;

    form {
      grid-template-columns: 600px 400px;
      grid-template-areas:
        "h3 h3"
        "customer checkbox"
        "datepicker timepicker"
        "datepicker observations"
        "button button";
    }

    h3 {
      margin: 0;
    }

    .time-col {
      justify-content: space-between;
      gap: 40px;
    }

    #observations-div {
      align-items: flex-end;
      margin-bottom: -5px;
    }
  }
}
