<!-- LEFT ARROW -->
<i
  (click)="scrollToLeft()"
  [ngClass]="maxScrollLeft ? 'arrow-disabled' : 'arrow'"
  class="fa-solid fa-caret-left arrow"
>
</i>
<!-- APPOINTMENTS -->
<div class="center">
  @if (maxScrollRight) {
    <h3>Añadir Medición</h3>
  } @else {
    <h3>Mediciones</h3>
  }
  <div id="measurement-scroller" class="scroller">
    @for (measurement of measurements(); track $index) {
      <app-customer-measurement [measurement]="measurement" />
    }
    <i class="add-item fa-solid fa-plus"></i>
  </div>
</div>
<!-- RIGHT ARROW -->
<i
  (click)="scrollToRight()"
  [ngClass]="maxScrollRight ? 'arrow-disabled' : 'arrow'"
  class="fa-solid fa-caret-right"
>
</i>
