@import 'colors';

:host {
  box-sizing: border-box;
  width: min(80%, 800px);

  form {
    grid-template-columns: 1fr;
  }

  .action-btn-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    .btn {
      width: 30%;
    }
  }
}

@media (height < 1150px) {
  form {
    gap: 30px;
  }

  h3 {
    margin: 0;
  }

  input,
  app-select-input {
    margin-bottom: 5px;
  }

  .invalid-field {
    height: 10px;
    margin: 0;
  }

  .customer-observations {
    margin-bottom: -5px;
  }
}
