<form [formGroup]="customerForm" (submit)="submit()">
  <i (click)="close()" class="close-icon fa-solid fa-xmark"></i>
  <h3>Añadir Cliente</h3>

  <div class="form-row">
    <!-- First Name -->
    <div class="input-border-group">
      <input formControlName="firstName" placeholder=" " type="text" />
      <label class="placeholder">Nombre*</label>
      @if (controls.firstName.invalid && (controls.firstName.dirty || controls.firstName.touched)) {
        @if (controls.firstName.errors?.['required']) {
          <div class="invalid-field">Introduce tu nombre.</div>
        }
      }
    </div>
    <!-- Last Name -->
    <div class="input-border-group">
      <input formControlName="lastName" placeholder=" " type="text" />
      <label class="placeholder">Apellidos*</label>
      @if (controls.lastName.invalid && (controls.lastName.dirty || controls.lastName.touched)) {
        @if (controls.lastName.errors?.['required']) {
          <div class="invalid-field">Introduce tu apellido.</div>
        }
      }
    </div>
  </div>

  <div class="form-row">
    <!-- Email -->
    <div class="input-border-group">
      <input formControlName="email" placeholder=" " type="text" />
      <label class="placeholder">Email*</label>
      @if (controls.email.invalid && (controls.email.dirty || controls.email.touched)) {
        @if (controls.email.errors?.['required']) {
          <div class="invalid-field">Introduce el email.</div>
        }
        @if (controls.email.errors?.['email']) {
          <div class="invalid-field">Email no válido.</div>
        }
      }
    </div>
  </div>

  <div class="form-row">
    <!-- Phone -->
    <div class="input-border-group">
      <input formControlName="phone" placeholder=" " type="text" />
      <label class="placeholder">Teléfono*</label>
      @if (controls.phone.invalid && (controls.phone.dirty || controls.phone.touched)) {
        @if (controls.phone.errors?.['required']) {
          <div class="invalid-field">Introduce el teléfono.</div>
        }
      }
    </div>
    <!-- Target -->
    <div class="input-border-group">
      <input formControlName="target" placeholder=" " type="text" />
      <label class="placeholder">Objetivo*</label>
      @if (controls.target.invalid && (controls.target.dirty || controls.target.touched)) {
        @if (controls.target.errors?.['required']) {
          <div class="invalid-field">Introduce el teléfono.</div>
        }
      }
    </div>
  </div>

  <div class="form-row">
    <!-- Birthdate -->
    <div class="input-border-group">
      <input formControlName="birthdate" placeholder=" " type="date" />
      <label class="placeholder">Fecha de Nacimiento*</label>
      @if (controls.birthdate.invalid && (controls.birthdate.dirty || controls.birthdate.touched)) {
        @if (controls.birthdate.errors?.['required']) {
          <div class="invalid-field">Introduce la fecha de nacimiento.</div>
        }
      }
    </div>

    <!-- Gender -->
    <app-toggle-button
      (selectEvent)="setGender($event)"
      [options]="GENDER_OPTIONS"
      [defaultOption]="controls.gender.value!"
    />
  </div>

  <div class="form-row">
    <!-- Height -->
    <div class="input-border-group">
      <input formControlName="height" placeholder=" " type="number"/>
      <label class="placeholder">Altura*</label>
      <div class="input-info">cm</div>
      @if (controls.height.invalid && (controls.height.dirty || controls.height.touched)) {
        @if (controls.height.errors?.['required']) {
          <div class="invalid-field">Introduce la altura.</div>
        }
      }
    </div>
    <!-- Ethnicity -->
    @let ethnicityHasErrors = controls.ethnicity.touched && controls.ethnicity.errors?.['required'];
    <div style="width: 100%;">
      <app-select-input
        [title]="'Etnia'"
        [inputSelected]="controls.ethnicity.value"
        [options]="ETHNICITY_OPTIONS"
        (selectEvent)="setEthnicity($event)"
        [hasErrors]="ethnicityHasErrors"
      />
      @if (ethnicityHasErrors) {
        <div class="invalid-field">Selecciona la etnia.</div>
      }
    </div>
  </div>

  <div class="form-row customer-observations">
    <!-- Observations -->
    <app-textarea
      (contentEmitter)="setObservations($event)"
      [placeholderName]="'Observaciones'"
      [content]="controls.observations.value!"
      class="textarea-glass"
    />
  </div>

  @if (customer()) {
    <div class="edit-btn-row">
      <button class="btn flat-button">Editar</button>
      <button type="button" class="btn flat-button cancel-button" (click)="close()">Cancelar</button>
    </div>
  } @else {
    <button class="btn flat-button">Registrar Cliente</button>
  }

</form>
