<div class="container">
  <article id="hero-card">
    <div class="content">
      <h3>No pierdas el tiempo</h3>
      <p>Céntrate en lo más importante con una interfaz intuitiva y fácil de usar que te permitirá gestionar a tus
        clientes de manera mas organizada</p>
    </div>
    <div class="image-container">
      <img src="img/interface.webp" alt="Interfaz intuitiva" />
    </div>
  </article>

  <div class="features-grid">
    <article class="feature-card">
      <div class="content">
        <i class="fa-solid fa-users"></i>
        <h3>Lleva un control de tus clientes</h3>
        <p>Mantén toda la información de tus clientes organizada y accesible. Registra sus datos personales, historial
          médico, mediciones antropométricas y evolución en el tiempo.</p>
      </div>
      <div class="image-container">
        <img src="img/customer.webp" alt="Control de clientes" />
      </div>
    </article>

    <article class="feature-card">
      <div class="content">
        <i class="fa-solid fa-chart-column"></i>
        <h3>Revisa las gráficas</h3>
        <p>Visualiza el progreso con gráficos interactivos y detallados. Analiza tendencias y resultados para optimizar
          los planes de entrenamiento y nutrición de tus clientes.</p>
      </div>
      <div id="chart-img-container" class="image-container">
        <img src="img/chart-1.webp" alt="Gráficas de progreso" />
        <img src="img/chart-2.webp" alt="Gráficas de progreso" />
        <img src="img/chart-3.webp" alt="Gráficas de progreso" style="grid-column: 1 / -1;" />
      </div>
    </article>

    <article class="feature-card">
      <div class="content">
        <i class="fa-solid fa-calendar-days"></i>
        <h3>Ten tu agenda al día</h3>
        <p>Organiza tus citas y sesiones con un calendario intuitivo. Recibe notificaciones y evita solapamientos o
          cancelaciones de última hora para maximizar tu productividad.</p>
      </div>
      <div id="agenda-img-container" class="image-container">
        <img src="img/agenda-1.webp" alt="Agenda y calendario" />
        <img src="img/agenda-3.webp" alt="Agenda y calendario" style="grid-row: span 2"/>
        <img src="img/agenda-2.webp" alt="Agenda y calendario" />
      </div>
    </article>

    <article class="feature-card">
      <div class="content">
        <i class="fa-solid fa-file-lines"></i>
        <h3>Informes personalizados</h3>
        <p>Genera informes detallados para tus clientes con métricas personalizadas. Comparte resultados y planes de
          forma
          profesional y atractiva para mejorar la experiencia de tus clientes.</p>
      </div>
      <div id="pdf-img-container" class="image-container">
        <img src="img/pdf-1.webp" alt="Informes personalizados" />
        <img src="img/pdf-2.webp" alt="Informes personalizados" />
      </div>
    </article>
  </div>
