<article>
  <div>
    <h3>Lleva un control de tus clientes</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugiat nostrum est voluptates cupiditate
      maiores, quis minus! Iure reprehenderit sint animi quis? Temporibus qui explicabo voluptates et quis animi sit?
    </p>
  </div>
  <img src="img/placeholder.png" alt=""/>
</article>

<article>
  <div>
    <h3>Revisa las graficas</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugiat nostrum est voluptates cupiditate
      maiores, quis minus! Iure reprehenderit sint animi quis? Temporibus qui explicabo voluptates et quis animi sit?
    </p>
  </div>
  <img src="img/placeholder.png" alt=""/>
</article>

<article>
  <div>
    <h3>Ten tu agenda al día</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugiat nostrum est voluptates cupiditate
      maiores, quis minus! Iure reprehenderit sint animi quis? Temporibus qui explicabo voluptates et quis animi sit?
    </p>
  </div>
  <img src="img/placeholder.png" alt=""/>
</article>

<article>
  <div>
    <h3>Lorem ipsum dolor sit amet.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugiat nostrum est voluptates cupiditate
      maiores, quis minus! Iure reprehenderit sint animi quis? Temporibus qui explicabo voluptates et quis animi sit?
    </p>
  </div>
  <img src="img/placeholder.png" alt=""/>
</article>
