/* ANGULAR MATERIAL CUSTOM THEME */

@use '@angular/material' as mat;

@include mat.core();

$bodycheck-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$spring-green-palette,
      ),
      typography: (brand-family: 'DM Sans',
        bold-weight: 900,
        regular-weight: 400,
      ),
      density: (scale: -1,
      )));

:root {
  @include mat.all-component-themes($bodycheck-theme);
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'satoshi';

@import 'colors';

* {
  font-family: "Satoshi-Regular", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $background-color;

  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/********** BUTTONS **********/
button {
  font-family: "DM Sans", sans-serif;

  box-sizing: border-box;
  cursor: pointer;

  height: 45px;
  border: 2px solid $primary-color;
  border-radius: 15px;
  padding-inline: 18px;

  background-color: inherit;
  font-size: 16px;
  font-weight: bold;

  transition: .4s;
}
button:focus-visible {
  outline: 0;
}

.flat-button {
  background-color: $primary-color;
  color: $white;
}

.stroked-button {
  background-color: $white;
  color: $primary-color;
}

.flat-button:hover {
  border-color: $primary-color-700;
  background-color: $primary-color-700;
}

.stroked-button:hover {
  background-color: $background-color;
}

/********** INPUTS **********/
.input-group input {
  box-sizing: border-box;
  height: 45px;
  width: 100%;

  border: 0;
  border-bottom: 2px solid $primary-color;
  border-radius: 15px 15px 0 0;
  outline: none;
  padding-top: 15px;
  padding-inline: 18px;

  font-size: 16px;
  background-color: $white;
  color: $black;

  transition: 300ms;
}

.input-group {
  position: relative;
  width: 100%;
}

.input-group .placeholder {
  position: absolute;
  top: 14px;
  left: 19px;

  font-size: 16px;
  color: $black;

  transition: 300ms;
  pointer-events: none;
}

.input-group input:focus+.placeholder,
.input-group input:not(:placeholder-shown)+.placeholder {
  top: 1px;

  color: $primary-color;
  font-size: 12px;
}

.input-border-group input {
  box-sizing: border-box;
  height: 45px;
  width: 100%;

  border: 1px solid $white;
  border-bottom: 2px solid $primary-color;
  border-radius: 15px 15px 0 0;
  outline: none;
  padding: 10px 18px 0 18px;

  font-size: 16px;
  background-color: $white;
  color: $black;

  transition: 300ms;
}

.input-border-group {
  position: relative;
  width: 100%;
}

.input-border-group .placeholder {
  position: absolute;
  top: 14px;
  left: 19px;

  font-size: 16px;
  color: $black;

  transition: 300ms;
  pointer-events: none;
}

.input-border-group input:focus {
  border: 1px solid $primary-color;
  border-bottom: 2px solid $primary-color;
}

.input-border-group input:focus+.placeholder,
.input-border-group input:not(:placeholder-shown)+.placeholder {
  top: -11px;
  left: 15px;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 12px;
  background-color: $white;
}

/* VALIDACIONES */

.ng-invalid:not(form).ng-touched {
  border: 1px solid $error-color;
  border-bottom: 2px solid $error-color;

  ~.placeholder {
    color: $error-color;
    border-color: $error-color;
  }
}

.invalid-field {
  margin-top: 5px;
  margin-bottom: -10px;
  color: $error-color;
}

/********** MODAL ANIMATIONS **********/
.modal-overlay {
  z-index: -1;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/********** MODAL ANIMATIONS **********/
.pop-in-login {
  animation: pop-in-login-modal 0.3s;
}
@keyframes pop-in-login-modal {
  0% {
    height: 100px;
  }

  100% {
    height: 250px;
  }
}

.pop-in-register {
  animation: pop-in-register-modal 0.3s;
}
@keyframes pop-in-register-modal {
  0% {
    transform: scaleY(0) translateY(-70%);
  }

  100% {
    transform: scaleY(1) translateY(0);
  }
}

.pop-out {
  animation: pop-out-modal 0.3s forwards;
}
@keyframes pop-out-modal {
  100% {
    scale: 0;
  }
}

/* WAVES DIVIDER */
.divider {
  width: 100%;
  position: relative;
}

.wave-divider-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-divider-top svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 150px;
}

.wave-divider-top .shape-fill {
  fill: #109D8A;
}

.wave-divider-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 150px;
}

.wave-divider-bottom .shape-fill {
  fill: #109D8A;
}

.wave-1 {
  animation: wave-1 8s linear infinite;
}
.wave-2 {
  animation: wave-2 5s linear infinite;
}
.wave-3 {
  animation: wave-3 4s linear infinite;
}
.wave-4 {
  animation: wave-4 2.5s linear infinite;
}

@keyframes wave-1 {
  50% {
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes wave-2 {
  30% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(12px);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes wave-3 {
  30% {
    transform: translateY(14px);
  }
  80% {
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes wave-4 {
  30% {
    transform: translateY(-8px);
    transform: translateX(-10%);
  }
  80% {
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0);
    transform: translateX(0);
  }
}
