/* ANGULAR MATERIAL CUSTOM THEME */

@use '@angular/material' as mat;

@include mat.core();

$bodycheck-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$spring-green-palette,
      ),
      typography: (brand-family: 'DM Sans',
        bold-weight: 900,
        regular-weight: 400,
      ),
      density: (scale: -1,
      )));

:root {
  @include mat.all-component-themes($bodycheck-theme);
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'satoshi';

@import 'colors';
@import 'custom-theme';

* {
  font-family: "Satoshi-Regular", sans-serif;
  color: $black;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $background-color;

  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: 80px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/********** BUTTONS **********/
.btn {
  font-family: "DM Sans", sans-serif;

  box-sizing: border-box;
  cursor: pointer;

  height: 45px;
  border: 2px solid $primary-color;
  border-radius: 15px;
  padding-inline: 18px;

  background-color: inherit;
  font-size: 16px;
  font-weight: bold;

  transition: .4s;
}

.btn:focus-visible {
  outline: 0;
}

.flat-button {
  background-color: $primary-color;
  color: $white;
}

.stroked-button {
  background-color: $white;
  color: $primary-color;
}

.flat-button:hover {
  border-color: $primary-color-700;
  background-color: $primary-color-700;
}

.stroked-button:hover {
  background-color: $background-color;
}

/********** INPUTS **********/
.input-border-group input {
  box-sizing: border-box;
  height: 45px;
  width: 100%;

  border: 1px solid $white;
  border-bottom: 2px solid $primary-color;
  border-radius: 15px 15px 0 0;
  outline: none;
  padding: 10px 18px 0 18px;

  font-size: 16px;
  background-color: $white;

  transition: 300ms;
}

.input-border-group {
  position: relative;
  width: 100%;
}

.input-border-group .placeholder {
  position: absolute;
  top: 14px;
  left: 19px;

  font-size: 16px;

  transition: 300ms;
  pointer-events: none;
}

.input-border-group input:focus {
  border: 1px solid $primary-color;
  border-bottom: 2px solid $primary-color;
}

.input-border-group input:focus+.placeholder,
.input-border-group input:not(:placeholder-shown)+.placeholder {
  top: -11px;
  left: 15px;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 12px;
  background-color: $white;
}


.input-border-group .input-info {
  position: absolute;
  top: 14px;
  right: 20px;

  height: 45px;

  color: $primary-color;
  font-weight: bold;
  user-select: none;
}

// Eliminar las ayudas a los input numericos
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

/* VALIDACIONES */

.ng-invalid:not(form).ng-touched {
  border: 1px solid $error-color;
  border-bottom: 2px solid $error-color;

  ~.placeholder {
    color: $error-color;
    border-color: $error-color;
  }
  ~.input-info {
    color: $error-color;
  }
}

.invalid-field {
  margin-top: 5px;
  color: $error-color;
}

.error {
  color: $error-color;
}

/********** MODAL ANIMATIONS **********/
.modal-overlay {
  z-index: -1;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/********** MODAL ANIMATIONS **********/
.pop-in-login {
  animation: pop-in-login-modal 0.3s;
}

@keyframes pop-in-login-modal {
  0% {
    height: 100px;
  }

  100% {
    height: 250px;
  }
}

.pop-out-login {
  animation: pop-out-login-modal 0.3s forwards;
}

@keyframes pop-out-login-modal {
  100% {
    scale: 0;
  }
}

.pop-in-register {
  animation: pop-in-register-modal 1s forwards;
}

@keyframes pop-in-register-modal {
  0% {
    transform: translateX(-100dvw);
  }

  100% {
    transform: translateX(0);
  }
}

.pop-out-register {
  animation: pop-out-register-modal 1s forwards;
}

@keyframes pop-out-register-modal {
  to {
    transform: translateX(-100dvw);
  }
}

.pop-in-welcome {
  animation: pop-in-welcome-modal 1s forwards;
}

@keyframes pop-in-welcome-modal {
  from {
    transform: translateX(100dvw);
  }

  to {
    transform: translateX(0);
  }
}

.pop-out-welcome {
  animation: pop-out-welcome-modal 1s forwards;
}

@keyframes pop-out-welcome-modal {
  to {
    transform: translateX(100dvw);
  }
}

/* MODAL FORM */
.modal-form {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  border: 2px solid $primary-color;
  border-radius: 10%;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  h3 {
    font-size: 32px;
  }

  .appointment-form-day {
    width: 50%;
  }

  .form-row {
    width: 80%;
    display: flex;
    gap: 40px
  }
}
