/* ANGULAR MATERIAL CUSTOM THEME */

@use '@angular/material' as mat;

@include mat.core();

$bodycheck-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$spring-green-palette,
      ),
      typography: (brand-family: 'DM Sans',
        bold-weight: 900,
        regular-weight: 400,
      ),
      density: (scale: -1,
      )));

:root {
  @include mat.all-component-themes($bodycheck-theme);
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'satoshi';

@import 'colors';
@import 'custom-theme';

* {
  font-family: "Satoshi-Regular", sans-serif;
  color: $black;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $background-color;

  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: 80px;
  box-sizing: border-box;
  width: 100%;

  display: flex;
  justify-content: center;
}

/********** SCROLL BAR **********/
::-webkit-scrollbar {
  width: 12px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background: #b0e0d8;
  border-radius: 8px 8px 0 0;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 8px 8px 0 0;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-color-700;
}

/********** BUTTONS **********/
.btn {
  font-family: "DM Sans", sans-serif;

  box-sizing: border-box;
  cursor: pointer;

  box-sizing: border-box;
  height: 45px;
  border: 0;
  border-radius: 15px;
  padding-inline: 18px;

  background-color: inherit;
  font-size: 16px;
  font-weight: bold;

  transition: .4s;
}

.btn:focus-visible {
  outline: 0;
}

.flat-button {
  background-color: $primary-color;
  color: $white;
}

.cancel-button {
  background-color: $error-color;
}

.stroked-button {
  border: 2px solid $primary-color;
  background-color: $white;
  color: $primary-color;
}

.flat-button:hover {
  background-color: $primary-color-700;
}

.cancel-button:hover {
  background-color: $error-color-700;
}

.stroked-button:hover {
  background-color: $background-color;
}

/********** ARROWS **********/
.arrow,
.arrow-disabled {
  box-sizing: border-box;
  width: 80px;
  height: 100%;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  color: $primary-color;
  transition: 300ms;
}

.arrow-disabled {
  color: $disabled-font-color;
  pointer-events: none;
}

.arrow:hover {
  cursor: pointer;
  background-color: $tertiary-color-200;
}


/********** SUMMARY **********/
.summary-host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.center {
  box-sizing: border-box;
  width: calc(100% - 160px);
  height: 100%;

  padding-block: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  h3 {
    margin: 0;
    font-size: 30px;
    color: $primary-color;
  }

  .scroller {
    display: flex;
    width: 80%;
    padding-inline: 5px;
    height: 100%;
    overflow-x: hidden;
    gap: 100px;
    /* Si se modifica este dato se debe modificar el criterio para bloquear el scroll */

    scroll-snap-type: x mandatory;
  }
}

.add-item {
  cursor: pointer;

  box-sizing: border-box;
  height: 100%;
  min-width: 100%;
  scroll-snap-align: center;

  border: 4px solid $secondary-color-300;
  border-radius: 12px;

  font-size: 50px;
  color: $secondary-color-300;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 300ms;
}

.add-item:hover {
  background-color: $tertiary-color-200;
}

/********** INPUTS **********/
.input-border-group input {
  box-sizing: border-box;
  height: 45px;
  width: 100%;

  border: 1px solid $white;
  border-bottom: 2px solid $primary-color;
  border-radius: 15px 15px 0 0;
  outline: none;
  padding: 10px 18px 0 18px;

  font-size: 16px;
  background-color: $white;

  transition: 300ms;
}

.input-border-group {
  position: relative;
  width: 100%;
}

.input-border-group .placeholder {
  position: absolute;
  top: 14px;
  left: 19px;

  font-size: 16px;

  transition: 300ms;
  pointer-events: none;
}

.input-border-group input:focus {
  border: 1px solid $primary-color;
  border-bottom: 2px solid $primary-color;
}

.input-border-group input:focus+.placeholder,
.input-border-group input:not(:placeholder-shown)+.placeholder {
  top: -11px;
  left: 15px;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 12px;
  background-color: $white;
}


.input-border-group .input-info {
  position: absolute;
  top: 14px;
  right: 20px;

  height: 45px;

  color: $primary-color;
  font-weight: bold;
  user-select: none;
}

// Input disabled
.input-border-group input:disabled {
  border-bottom-color: #6d6d6d;
}

.input-border-group input:disabled~.placeholder {
  color: #b0b0b0;
}

// Eliminar las ayudas a los input numericos
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

/* VALIDACIONES */

.ng-invalid:not(form).ng-touched {
  border: 1px solid $error-color;
  border-bottom: 2px solid $error-color;

  ~.placeholder {
    color: $error-color;
    border-color: $error-color;
  }

  ~.input-info {
    color: $error-color;
  }
}

.invalid-field {
  margin-top: 5px;
  color: $error-color;
}

.error {
  color: $error-color;
}

/********** MODAL ANIMATIONS **********/
.modal-overlay {
  z-index: -1;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/********** MODAL ANIMATIONS **********/
.pop-in-login {
  animation: pop-in-login-modal 0.3s;
}

@keyframes pop-in-login-modal {
  0% {
    height: 100px;
  }

  100% {
    height: 250px;
  }
}

.pop-out-login {
  animation: pop-out-login-modal 0.3s forwards;
}

@keyframes pop-out-login-modal {
  100% {
    scale: 0;
  }
}

.pop-in-register {
  animation: pop-in-register-modal .6s forwards;
}

@keyframes pop-in-register-modal {
  0% {
    transform: translateX(-100dvw);
  }

  100% {
    transform: translateX(0);
  }
}

.pop-out-register {
  animation: pop-out-register-modal .6s forwards;
}

@keyframes pop-out-register-modal {
  to {
    transform: translateX(-100dvw);
  }
}

.pop-in-welcome {
  animation: pop-in-welcome-modal .6s forwards;
}

@keyframes pop-in-welcome-modal {
  from {
    transform: translateX(100dvw);
  }

  to {
    transform: translateX(0);
  }
}

.pop-out-welcome {
  animation: pop-out-welcome-modal .6s forwards;
}

@keyframes pop-out-welcome-modal {
  to {
    transform: translateX(100dvw);
  }
}

/* MODALS FORM */
.customer-form,
.appointment-form {
  position: fixed;
  top: 100%;
  left: 50%;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  form {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    border: 3px solid $primary-color;
    padding: 40px 80px;
    border-radius: 6%;

    background-color: #aae5d444;
    backdrop-filter: blur(10px);


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  h3 {
    font-size: 32px;
    margin: 20px;
    color: $primary-color;
  }

  .form-row {
    width: 100%;
    display: flex;
    gap: 40px
  }

  .edit-btn-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    .btn {
      width: 30%;
    }
  }

  /* RE-MODIFICACION DE ESTILOS EN INPUTS PARA BAJARLE LA OPACIDAD */
  .placeholder {
    color: #6d6d6d;
  }

  input,
  app-select-input {
    background-color: #f0fdf960 !important;
    border-color: #badad2;
    border-bottom-color: $primary-color;
  }

  .input-border-group input:focus+.placeholder,
  .input-border-group input:not(:placeholder-shown)+.placeholder,
  textarea:focus+.placeholder,
  .placeholder-moved {
    background-color: #badad2 !important;
  }

  app-toggle-button,
  .textarea-glass textarea,
  mat-card {
    background-color: #f0fdf960 !important;
  }

  app-toggle-button:hover {
    background-color: #55aca360 !important;
  }

  .toggle-bar {
    background-color: #76b5ac !important;
  }

  .checkbox-label {
    height: 25px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding-inline: 10px;

    background-color: #badad2;
    color: $primary-color;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ICONO CERRAR MODAL */
.close-icon {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;

  font-size: 25px;
  color: $primary-color;
}
