<form [formGroup]="customerForm" class="modal-form">
  <h3>Añadir Cliente</h3>

  <div class="form-row">
    <!-- First Name -->
    <div class="input-border-group">
      <input formControlName="firstName" placeholder=" " type="text" />
      <label class="placeholder">Nombre*</label>
      @if (controls.firstName.invalid && (controls.firstName.dirty || controls.firstName.touched)) {
        @if (controls.firstName.errors?.['required']) {
          <div class="invalid-field">Introduce tu nombre.</div>
        }
      }
    </div>
    <!-- Last Name -->
    <div class="input-border-group">
      <input formControlName="lastName" placeholder=" " type="text" />
      <label class="placeholder">Apellidos*</label>
      @if (controls.lastName.invalid && (controls.lastName.dirty || controls.lastName.touched)) {
        @if (controls.lastName.errors?.['required']) {
          <div class="invalid-field">Introduce tu apellido.</div>
        }
      }
    </div>
  </div>

  <div class="form-row">
    <!-- First Name -->
    <div class="input-border-group">
      <input formControlName="email" placeholder=" " type="text" />
      <label class="placeholder">Email*</label>
      @if (controls.email.invalid && (controls.email.dirty || controls.email.touched)) {
        @if (controls.email.errors?.['required']) {
          <div class="invalid-field">Introduce el correo.</div>
        }
      }
    </div>
    <!-- Last Name -->
    <div class="input-border-group">
      <input formControlName="lastName" placeholder=" " type="text" />
      <label class="placeholder">Teléfono*</label>
      @if (controls.lastName.invalid && (controls.lastName.dirty || controls.lastName.touched)) {
        @if (controls.lastName.errors?.['required']) {
          <div class="invalid-field">Introduce el teléfono.</div>
        }
      }
    </div>
  </div>

  <div class="form-row">
    <div class="input-border-group">
      <input formControlName="birthdate" placeholder=" " type="date" />
      <label class="placeholder">Fecha de Nacimiento*</label>
      @if (controls.birthdate.invalid && (controls.birthdate.dirty || controls.birthdate.touched)) {
        @if (controls.birthdate.errors?.['required']) {
          <div class="invalid-field">Introduce la fecha de nacimiento.</div>
        }
      }
    </div>

    <app-toggle-button (selectEvent)="selectGender($event)" [leftBtn]="'Masculino'" [rightBtn]="'Femenino'" />
  </div>

  <div class="form-row">
    <div class="input-border-group">
      <input formControlName="height" placeholder=" " type="number"/>
      <label class="placeholder">Altura*</label>
      <div class="input-info">cm</div>
      @if (controls.height.invalid && (controls.height.dirty || controls.height.touched)) {
        @if (controls.height.errors?.['required']) {
          <div class="invalid-field">Introduce la altura.</div>
        }
      }
    </div>

    @let ethnicityHasErrors = controls.ethnicity.touched && controls.ethnicity.errors?.['required'];
    <div style="width: 100%;">
      <app-select-input
      (selectEvent)="selectEthnicity($event)"
      [title]="'Etnia'"
      [options]="ethnicityOptions"
      [hasErrors]="ethnicityHasErrors"
      />
      @if (ethnicityHasErrors) {
        <div class="invalid-field">Selecciona la etnia.</div>
      }
    </div>
  </div>

  <div class="form-row">
    <app-textarea (contentEmitter)="getObservations($event)" [placeholderName]="'Observaciones'" />
  </div>

  <button class="btn flat-button" (click)="createCustomer()">Registrar Cliente</button>

</form>
