<app-customer-list (openCustomerFormEvent)="openCustomerForm()" />
<app-agenda (openAppointmentFormEvent)="openAppointmentForm()" />

@if (showAppointmentForm || showCustomerForm) {
  <app-modal-overlay (closeEvent)="closeModals()" />
  @if (showAppointmentForm) {
    <app-appointment-form (closeEvent)="closeModals()" />
  }
  @if (showCustomerForm) {
    <app-customer-form (closeEvent)="closeModals()" (successEvent)="addSuccessMessage($event)"/>
  }
}

@for (errorMessage of errorMessages; track $index) {
  <app-message-modal (closeEvent)="closeErrorMessage($index)" [message]="errorMessage" [messageType]="'error'" />
}
@for (successMessage of successMessages; track $index) {
  <app-message-modal (closeEvent)="closeErrorMessage($index)" [message]="successMessage" [messageType]="'success'" />
}
