<section id="hero">
  @if (showRegister) {
    <app-register [usernameInput]="username" />
  }
  <article id="welcome">
    <div class="title">
      <img src="favicon.webp" alt="B">
      <h2>ODYCHECK</h2>
    </div>
    <h1>Aplicación web para dietistas y nutricionistas</h1>
    <h2>Monitorea y optimiza el progreso de tus clientes</h2>
    <p>Gestiona las medidas antropométricas de tus clientes con facilidad<br>y visualiza su evolución a través de gráficos avanzados.</p>
    <form [formGroup]="welcomeForm" (submit)="showRegisterFromWelcome()">
      <div class="input-border-group">
        <input formControlName="username" placeholder=" " type="email"/>
        <label class="placeholder">Email</label>
      </div>
      <button class="btn flat-button">Registrate Gratis</button>
    </form>
  </article>
</section>

<app-wave-divider [rotate]="true" />

<!-- SECCION DE BENEFICIOS Y SERVICIOS -->
<app-benefits />

<app-wave-divider  />

<section id="formulas">
  <h2>Formulas</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe cum in modi quo maxime. Mollitia officia iste quasi, blanditiis rerum voluptates sit adipisci voluptas alias quos quidem quaerat praesentium in.
  Ipsam dolorem fugiat animi, corporis, aliquid ullam quaerat reiciendis adipisci eveniet, voluptas deleniti nostrum sed dicta distinctio repellat accusantium a recusandae qui quam numquam obcaecati architecto consectetur necessitatibus. Optio, dicta.
  Perferendis, soluta id repudiandae vero dignissimos cumque, nostrum atque excepturi sint ea quae? Dignissimos eos asperiores harum, quae beatae nihil corrupti reprehenderit iure debitis nam laborum perspiciatis a nobis maxime.
  Similique, cum? Excepturi unde, modi dolore ex tempora aspernatur veniam rem quibusdam vero quas explicabo voluptates! Illum provident explicabo illo veniam. Ducimus quas, nam tempore ad pariatur animi nihil cupiditate.
  Eveniet officia iure blanditiis, labore sint repellendus, rem omnis vitae, aperiam a suscipit maiores nulla quia magnam. Labore, qui. Dolor nobis culpa nemo esse maiores voluptatibus! Ut rerum inventore molestiae?</p>
</section>





<app-footer />

