<app-date-picker [(selected)]="selectedDate" (selectedChange)="getAppointmentsByDate()" />

<div class="timetable">
  <h4 class="day">{{ datePipe.transform(selectedDate, "EEEE dd MMM yyyy") }}</h4>
  <ul>
    <!-- HORAS -->
    @for (hour of hours; track $index) {
      <li><span class="hour">{{hour}}</span></li>
    }
    <!-- CITAS -->
    @for (appointment of appointments; track appointment.id) {
      <div
      class="appointment"
      [ngStyle]="{'flex-direction': appointment.duration < 30 ? 'row' : 'column'}"
      [style.height.px]="appointment.duration * 3"
      [style.top.px]="(appointment.startTime.getHours() * 60 + appointment.startTime.getMinutes()) * 3">
        <h4 class="customer">{{ appointment.customer.firstName }} {{ appointment.customer.lastName }}</h4>
        <h5 class="phone">{{ appointment.customer.phone }} <i class="fa-solid fa-phone"></i></h5>
        <h5 [ngClass]="appointment.duration < 30 ? 'short-reason' : 'reason'">{{ appointment.reason }}</h5>
          <p [ngClass]="appointment.duration < 30 ? 'short-duration' : 'duration'">{{ appointment.duration }} min</p>
          @if (appointment.duration >= 30) {
            <p class="starts">{{ datePipe.transform( appointment.startTime, "HH:mm") }}</p>
            <p class="ends">{{ datePipe.transform( appointment.endTime, "HH:mm") }}</p>
            <div class="timeline" [style.height.px]="appointment.duration * 3 - 66"></div>
          }
    </div>
    }
  </ul>
</div>
