<app-customer-tabs [(tabOpened)]="tabOpened" />

@if (tabOpened === TABS.SUMMARY) {
  <app-customer-summary [customer]="customer!" />
} @else if (tabOpened === TABS.MEASUREMENTS) {
  <app-measurements-summary [customer]="customer!" />
} @else if (tabOpened === TABS.CHARTS) {
  <app-charts-summary [customer]="customer!" />
} @else if (tabOpened === TABS.EXPORT) {
  <app-export-customer [customer]="customer!" />
}

@if (showCustomerForm) {
  <app-modal-overlay />
  <app-customer-form [customer]="customer" (updatedCustomerEvent)="updateCustomerData($event)" />
}
